//**************************************//
// Navigation						    //
//**************************************//
.navbar {
	border-radius: 0;
}

.navbar-default {
	background-color: @brand-red;	
	border: 0;
	font-family: @font-default;
	font-weight: 400;

	.navbar-nav {
		.padding(12px 0);

		.btn-outline {
			&:extend(.btn-outline all);
			border-color: fade(@brand-white, 80%);
			color: @brand-white;



			&:hover, 
			&:focus {
				background-color: fade(@brand-white, 10%);
				border-color: @brand-white;
				color: @brand-white;
			}
		}
	}

	.navbar-nav>li>a {
		color: @brand-white;
		.lh-transition(0.3s);

		&:hover, &:focus {
			color: @brand-white;
			text-decoration: underline;
		}
	}

	.navbar-nav>.active>a,
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		background-color: transparent;
		// color: @generic-btn-light;
		text-decoration: underline;
	}

	.navbar-brand {
		.padding(5px 20px);
		.margin-bottom(7px);
	}


	.navbar-nav .btn {
		.margin-left(10px);
	}

	a.btn-outline { 	
		&:hover,
		&:focus {
			background-color: saturate(@brand-red, 20%) !important;
		}
	}
}


//**************************************//
// Footer								//
//**************************************//

footer {
	border-top: 1px solid #DEDCD7;
	.margin-top(40px);
	.padding(30px 0);

	.footer-content {
		.font-size(12px);
		text-align: center;

		a {
			color: @copy-black;
		}
	}
}