/*
.rem-mixins-test-class {
    .font-size(10px);
    .line-height(20px);
    .margin(10px);
    .margin(3em);
    .margin(10px, 20px);
    .margin(10px, 20%);
    .margin(0px , 20px);
    .margin-top(2%);
    .margin-top(2px);
    .padding(10px);
    .padding(3em);
    .padding(10px, 20px);
    .padding(10px, 20%);
    .padding(3em, 20px)
}
*/
@media all and (max-width: 992px) {
  .img-responsive {
    margin: 0 auto;
  }
}
@media all and (max-width: 992px) {
  .rwd-break {
    display: none;
  }
}
ul {
  padding-left: 15px;
  padding-left: 1.5rem;
}
ol {
  counter-reset: item;
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 20px;
  padding-left: 2rem;
}
ol li {
  display: block;
  padding-bottom: 16px;
  padding-bottom: 1.6rem;
  position: relative;
}
ol li:before {
  content: counters(item, ".") ".";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px;
  /* space between number and text */
}
ol li ol {
  padding-left: 30px;
  padding-left: 3rem;
}
.btn-outline,
.navbar-default .navbar-nav .btn-outline {
  background-color: transparent;
  border-color: rgba(212, 33, 46, 0.8);
  color: #d4212e;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 5px 10px !important;
}
.btn-outline:hover,
.btn-outline:focus,
.navbar-default .navbar-nav .btn-outline:hover,
.navbar-default .navbar-nav .btn-outline:focus {
  background-color: rgba(212, 33, 46, 0.1);
  border-color: #d4212e;
  color: #d4212e;
  text-decoration: none !important;
}
h1,
.leading-copy h1 {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  margin-left: -2px;
  margin-left: -0.2rem;
  padding: 0;
}
h2 {
  border-bottom: 3px solid #d4212e;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-top: 3rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  h1,
  .leading-copy h1 {
    font-size: 24px !important;
    font-size: 2.4rem !important;
    margin-bottom: 5px;
    margin-bottom: 0.5rem;
  }
}
.leading-copy {
  border-left: 6px solid #d4212e;
  margin-top: 40px;
  margin-top: 4rem;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  margin-left: -17px;
  margin-left: -1.7rem;
  padding-left: 10px;
  padding-left: 1rem;
  padding-bottom: 3px;
  padding-bottom: 0.3rem;
}
.leading-copy p.lead {
  margin: 0;
}
.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar-default {
  background-color: #d4212e;
  border: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.navbar-default .navbar-nav {
  padding: 12px 0;
}
.navbar-default .navbar-nav .btn-outline {
  border-color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
}
.navbar-default .navbar-nav .btn-outline:hover,
.navbar-default .navbar-nav .btn-outline:focus,
.navbar-default .navbar-nav .navbar-default .navbar-nav .btn-outline:hover,
.navbar-default .navbar-nav .navbar-default .navbar-nav .btn-outline:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffffff;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.navbar-default .navbar-brand {
  padding: 5px 20px;
  margin-bottom: 7px;
  margin-bottom: 0.7rem;
}
.navbar-default .navbar-nav .btn {
  margin-left: 10px;
  margin-left: 1rem;
}
.navbar-default a.btn-outline:hover,
.navbar-default a.btn-outline:focus,
.navbar-default a.navbar-default .navbar-nav .btn-outline:hover,
.navbar-default a.navbar-default .navbar-nav .btn-outline:focus {
  background-color: #ed0819 !important;
}
footer {
  border-top: 1px solid #DEDCD7;
  margin-top: 40px;
  margin-top: 4rem;
  padding: 30px 0;
}
footer .footer-content {
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
}
footer .footer-content a {
  color: #000000;
}
.index .jumbotron {
  background-color: #d4212e;
  color: #ffffff;
  position: relative;
  display: block;
}
.index .jumbotron h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 1.4;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
.index .jumbotron .copy-wrap {
  padding: 20px 0;
  padding: 2rem 0;
  text-align: center;
}
@media all and (min-width: 768px) {
  .index .jumbotron .copy-wrap {
    display: block;
    position: absolute;
    bottom: -420px;
    text-align: left;
  }
}
.index .jumbotron .outline {
  border: 1px solid #e6e6e6;
  color: #e6e6e6;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 5px 10px;
}
